body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

li.completed {
    text-decoration: line-through;
}

li .delete {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

li:hover .delete {
    display: block;
}

li .edit {
    display: none;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

li:hover .edit {
    display: block;
}

.edit-form {
    display: none;
}

.edit-form input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f0f0f0;
}

.edit-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #3e8e41;
}